/** Add css rules here for your application. */
/** Example rules used by the template application (remove for your app) */
/*.well-bg {
	height: 900px;
	background-color: #808080;
}

.well-h1 {
	padding-top: 33vh;
	padding-left: 40vw;
	font-size: 10em;
}
.well-math-h1 {
	padding-top: 25vh;
	padding-left: 20vw;
	font-size: 10em;
}

.well-math-h1-answer {
	padding-top: 25vh;
	padding-left: 40vw;
	font-size: 10em;
}

.well-math-response {
	font-size: 5em;
	color: blue;
}

.click-label {
	border-style: solid;
	border-width: 1px;
	border-color: blue;
	width: 50px;
	height: 50px;
	padding-left: 20px;
	padding-right: 20px;
	background-color: #FFFFFF;
}

.letter-lg {
	font-size: 50px;
}

.text-red {
	color:red;
}*/